apiVersion: v1
kind: Service
metadata:
  name: {{ include "nightjar.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nightjar.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: 8081
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "nightjar.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: controller
